bat
btop
corepack
curlie
dog
duf
dust
eza
fzf
gh
git
git-lfs
gleam
httpie
hyperfine
jq
just
k6
lsd
mold
neovim
nu
pipx
procs
protobuf
ripgrep
sccache
starship
stow
tinygo-org/tools/tinygo
tursodatabase/tap/turso
xh
zoxide
zsh-autosuggestions
